{% extends 'base.html.twig' %}
{% block content %}

<section>

    <h1>{{ book.title }}</h1>
    <span> <strong>{{ book.author }}</strong></span>
    <span> <em>{{ book.nbPages }} pages</em></span>
    <p>{{ book.resume }}</p>

</section>

{% endblock %}